# dependencies
./node_modules
/node_modules
node_modules

# Recordings
recordings/
recordings_epiphan/
recordings
recordings_epiphan
workdir
workdir/
# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist
./dist
dist
/testz
/config.yaml
/config-dev.yaml
sample-10s.mp4
prod.env
/recording_files/
