# dependencies
./node_modules
/node_modules
node_modules

# IDE
/.idea
/.awcache
/.vscode

# misc
npm-debug.log

# example
/quick-start

# tests
/test
/coverage
/.nyc_output

# dist
/dist
./dist
dist
/testz
/config.yaml
/config-dev.yaml
sample-10s.mp4
prod.env